.subpage-banner {
  position: relative;
  height: 20vh;
  isolation: isolate;
  overflow: hidden;
}
.subpage-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/src/assets/images/subpage-banner.png") no-repeat center
    center/cover;
  background-position-x: right;
  z-index: -1;
  animation: banner 3s forwards;
}
@keyframes banner {
  from {
    opacity: 0;
    clip-path: circle(5.4% at 100% 0);
  }
  to {
    opacity: 1;
    clip-path: circle(141.3% at 100% 0);
  }
}
