.service-card {
  padding: 16px;
  background-color: hsl(0deg 0% 100% / 3%);
  border-radius: 10px;
  outline: 1px solid rgb(255 255 255 / 8%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 8px 13px hsla(0, 0%, 0%, 0.329);
}

@media (min-width: 768px) {
  .service-card {
    justify-content: space-between;
    text-align: right;
  }
}
