.container {
  width: min(100% - 32px, 1024px);
  margin-inline: auto;
}
.icon {
  object-fit: contain;
}
.main {
  position: relative;
  background-color: var(--main-clr);
  isolation: isolate;
}
.blur-1 {
  position: absolute;
  pointer-events: none;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  animation: blur-overlay 10s infinite ease-in-out alternate;
}
.subpage {
  padding-top: 56px;
}
