/* 👉 HERO section */

.hero {
  position: relative;
  height: 100vh;
  isolation: isolate;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background: url("/src/assets/images/hero-overlay-img.png") no-repeat center
    center/cover;
  opacity: 0.5;
  z-index: -1;
}
.hero__wrapper {
  display: flex;
  align-items: center;
  height: 93%;
}
.hero__main-content {
  gap: 16px;
  display: grid;
}
.hero__cta-btns-wrapper {
  display: flex;
  gap: 2vw;
}
.hero__main-content-logo {
  width: 100px;
}
.computer-illustration {
  position: absolute;
  z-index: -1;
  width: 85%;
  object-fit: contain;
  opacity: 0.8;
  animation: computer-illustration 15s alternate infinite;
}
@keyframes computer-illustration {
  from {
    scale: 1;
  }
  to {
    scale: 2;
  }
}
@media (min-width: 1024px) {
  .computer-illustration {
    animation: computer-illustration 25s alternate infinite;
  }
  @keyframes computer-illustration {
    from {
      scale: 0.7;
    }
    to {
      scale: 1.7;
    }
  }
  .hero__main-content-logo {
    width: 200px;
  }
}
/* 👉 SERVICE section */
.section-heading-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 7vh;
}
.heading-line {
  height: 1px;
  width: 20%;
  background-color: hsl(208, 100%, 50%);
}
.services__inner-wrapper {
  display: grid;
  gap: 24px;
}
/* 👉 PORTFOLIO section */
.portfolio__inner-container {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.portfolio__inner-first-wrapper {
  display: grid;
  gap: 24px;
}
.portfolio__inner-wrapper {
  display: grid;
  gap: 32px;
  margin-bottom: 64px;
}
@media (min-width: 1200px) {
  .portfolio__inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 64px;
  }
  .portfolio__inner-first-wrapper {
    display: flex;
    flex-direction: column;
    height: max-content;
    margin-block: auto;
    gap: 10vh;
  }
  .portfolio__inner-first-wrapper p {
    max-width: 400px;
    font-size: 24px;
  }
  .see-all-projects-btn {
    margin-inline: unset;
  }
}
/* 👉 TECHNOLOGY section */
.technology__inner-wrapper {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
/* 👉 FEATURES section */
.features {
  padding-block: 32vh;
}
.features__inner-wrapper {
  display: grid;
  gap: 200px;
}
.feature {
  position: relative;
}
.feature__text-box {
  position: relative;
  background-color: hsla(225, 63%, 41%, 0.385);
  padding: 16px;
  border-radius: 10px;
  padding-top: 48px;
  padding-bottom: 72px;
}
.feature-line {
  height: 1px;
  width: 50%;
  top: 32px;
  position: absolute;
  background-color: hsl(240, 99%, 71%);
}
.features__img {
  position: absolute;
  top: 180px;
}
.features-overlay {
  position: absolute;
  inset: 0;
  height: 140%;
}
@media (min-width: 1024px) {
  .feature {
    display: flex;
    width: 60%;
  }
  .feature img {
    transform: translateY(-50%);
    top: 50%;
    left: 70%;
  }
  .feature:nth-child(2) {
    margin-left: auto;
  }
  .feature:nth-child(2) h3,
  .feature:nth-child(2) p {
    text-align: right;
  }
  .feature:nth-child(2) p {
    margin-left: auto;
  }
  .feature:nth-child(2) .feature-line {
    right: 16px;
  }
  .feature:nth-child(2) img {
    left: unset;
    right: 70%;
  }
  .feature__text-box p {
    width: 70%;
  }
  .features-overlay {
    width: 100%;
  }
  .features-overlay {
    height: 260%;
  }
}
/* 👉 CONTACT section */
.contact__text-box {
  text-align: center;
  margin-bottom: 50px;
}
