.services-page {
}
.services-page__wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.service-page__article {
  border-radius: 10px;
  outline: 1px solid hsla(0, 0%, 100%, 0.15);
  background-color: hsla(0, 0%, 100%, 0.04);
}
.service-page__article-header {
  display: flex;
  padding-block: 8px;
}
.service-page__article-header img {
  width: 70px;
}
.service-page__article-body {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.service-page__article-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  background-color: hsla(0, 0%, 100%, 0.033);
  border-radius: 8px;
  padding: 8px;
  outline: 1px solid hsla(0, 0%, 100%, 0.15);
  flex: 1;
}
.service-page__article-row:nth-child(1) ul {
  display: grid;
  gap: 8px;
}
.service-page__article-row:nth-child(1) li {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 300;
  text-transform: uppercase;
}
.service-page__article-row:nth-child(1) img {
  width: 24px;
}
.service-page__btns-wrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.service-page__article-banner {
  position: relative;
  height: 30vh;
}
.service-page__article-banner img {
  height: 100%;
  width: 100%;
}
@media (min-width: 1024px) {
}
