/* abstracts */
@import "abstracts/defaults.css";
@import "abstracts/colors.css";
@import "abstracts/typography.css";
@import "abstracts/sizes.css";
/* components */
@import "components/header.css";
@import "components/buttons.css";
@import "components/service-card.css";
@import "components/portfolio-card.css";
@import "components/tech-card.css";
@import "components/banner.css";
@import "components/contact-form.css";
@import "components/footer.css";
/* pages */
@import "pages/home.css";
@import "pages/services-page.css";
@import "pages/projects-page.css";
@import "pages/about-us-page.css";
/* utilities */
@import "utilities/animations.css";
@import "utilities/globals.css";
